<%- include('../../partials/head') %>
<div class="register">
	<div class="register__wrap">
		<div class="register__wrap__header">
			<h1 class="register__wrap__header--main">Register Now.</h1>
			<span class="register__wrap__header--sub"
				>Parcelify is where parcels fly.</span
			>
		</div>
		<% if (errorMessage) { %>
		<div class="register__wrap__error">
			<span><%= errorMessage %></span>
		</div>
		<% } %>
		<form action="register" method="POST" class="register__wrap__form">
			<div class="register__wrap__form__input">
				<label for="firstName">
					<span>First Name</span>
					<input
						type="text"
						name="firstName"
						id="firstName"
						placeholder="Type your first name"
						value="<%= oldInputs.firstName %>"
					/>
				</label>
			</div>
			<div class="register__wrap__form__input">
				<label for="lastName">
					<span>Last Name</span>
					<input
						type="text"
						name="lastName"
						id="lastName"
						placeholder="Type your last name"
						value="<%= oldInputs.lastName %>"
					/>
				</label>
			</div>
			<div class="register__wrap__form__input">
				<label for="email">
					<span>Email</span>
					<input
						type="email"
						name="email"
						id="email"
						placeholder="Type your email"
						value="<%= oldInputs.email %>"
					/>
				</label>
			</div>
			<div class="register__wrap__form__input">
				<label for="password">
					<span>Password</span>
					<input
						type="password"
						name="password"
						id="password"
						placeholder="Type your password"
						value="<%= oldInputs.password %>"
					/>
				</label>
			</div>
			<div class="register__wrap__form__buttons">
				<input type="hidden" value="<%= csrfToken %>" name="_csrf" />
				<button
					class="register__wrap__form__buttons--main"
					type="submit"
				>
					Register
				</button>
				<a class="register__wrap__form__buttons--sub" href="./login"
					>Login</a
				>
			</div>
		</form>
	</div>
</div>
<%- include('../../partials/footer') %>
